.product-card {
  height: 300px;
  width: 18%;
  padding: 20px 0px;
  position: relative;

  border: 1px solid #dcdcdc;

  // &:nth-last-of-type() {
  //   margin-right: 0;
  // }

  &-image {
    height: 60%;
    // width: 250px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &-content {
    margin-top: 5px;
    padding-bottom: 20px;
    &-name {
      text-align: center;
      display: flex;
      flex-direction: column;
      font-size: 14px;

      a {
        text-decoration: none;
        cursor: pointer;
        color: #777;
        text-transform: capitalize;

        &:hover {
          color: #000;
        }
      }
    }

    &-price {
      text-align: center;
      padding-top: 1px;
      padding-bottom: 10px;
      color: cadetblue;
      h4 {
        margin: 0px;
        font-size: 22px;
        font-weight: 400;
      }
    }

    &-btn {
      display: flex;
      &-qty {
        display: flex;
        height: 36px;
        margin-right: 10px;
        border: 1px solid #000;
        margin-left: 20px;
        border-radius: 4px;
        button {
          border: 0;
          background: transparent;
          padding: 0px 7px;
          cursor: pointer;
        }

        input:focus {
          border: 0;
          outline: none;
        }
        input {
          border: 0;
          text-align: center;
          width: 30px;
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          &[type="number"] {
            -moz-appearance: textfield;
          }
        }
      }
      &-addbtn {
        display: flex;
        justify-content: center;
        padding: 10px 10px;
        background: transparent;
        border-radius: 4px;
        border: 1px solid grey;
        color: grey;
        width: 49%;
        cursor: pointer;
        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
          &:hover {
            background: transparent;
            border: 1px solid grey;
            color: grey;
          }
        }
      }
      &-addbtn:hover {
        background-color: rgb(248, 59, 59);
        border: none;
        color: aliceblue;
      }
    }

    &-status {
      position: absolute;
      right: 0px;
      top: 0px;
      border: 1px solid #dcdcdc;
      color: #fff;
      padding: 2px 5px;
    }

    &-error {
      margin-top: 0px;
      margin-left: 18px;
      display: flex;
      color: red;
      font-size: 14px;
    }
  }
}
