.header {
  background-color: grey;
  color: aliceblue;
  padding: 5px 20px;
  height: 100px;

  &-head {
    &-nav {
      display: flex;
      justify-content: space-between;
      &-link {
        text-decoration: none;
        color: white;
      }
    }
  }
}
