.product-detail {
  &-description {
    display: flex;
    justify-content: center;
    padding-top: 100px;

    &-btn {
      display: flex;
      justify-content: space-between;
      margin-left: 50px;
      margin-right: 40px;
      margin-top: 15px;

      button {
        cursor: pointer;
        padding: 8px 12px;
        margin-right: 5px;
        background-color: grey;
        border-radius: 5px;
        border: none;
        color: white;
        text-transform: capitalize;
      }
    }

    &-image {
      display: flex;
      flex-direction: column;
      // height: 300px;
      width: 200px;
      padding: 15px 60px;
      padding-bottom: 20px;
      border: 1px solid #dcdcdc;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    &-content {
      justify-content: center;
      padding: 10px;
      width: 400px;
      padding-left: 20px;
      color: #777;
      h4 {
        color: dimgrey;
        margin: 0px;
        margin-bottom: 10px;
      }
      h3 {
        color: cadetblue;
        font-size: 22px;
        font-weight: 400;
      }
      &-btn:focus {
        background-color: rgb(46, 44, 44);
        border: none;
        color: aliceblue;
      }
      &-btn {
        background-color: grey;
        border-radius: 5px;
        border: none;
        color: white;
        text-transform: capitalize;
        padding: 10px 10px;
      }
      &-descript {
        font-size: 14px;
      }
    }
  }
}
