html,
body,
h1 {
  margin: 0px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.error-bg {
  background-color: rgba(233, 77, 77, 0.521);
}

.success-bg {
  background-color: rgba(10, 131, 26, 0.411);
}

.active {
  background-color: green;
  color: aliceblue;
  border: 1px solid green;
}
