.cart {
  display: flex;
  padding: 0 20px;
  margin-top: 40px;

  &-t {
    width: 100%;

    &-btn {
      display: flex;
      justify-content: flex-end;
      padding-right: 5.5%;
      padding-top: 15px;
      button {
        background: grey;
        border-radius: 8px;
        height: 30px;
        width: 80px;
        border: none;
        color: white;
      }
    }
    &-table {
      padding-left: 5%;
      padding-right: 5%;
      width: 100%;

      &-head {
        background-color: grey;
        color: white;

        tr {
          width: 100%;
          th {
            padding: 5px 40px;
          }
        }
      }
      &-body {
        tr {
          width: 100%;
          td {
            width: 20%;
            button {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &-summary {
    width: 25%;
  }
}
